<div>
  
  <img class="leccion" src="https://www.buades-faucet.com/uploads/2021/01/Gryphon-1024x709.jpg">
</div>

<p>grifo works!</p>
<app-cabeza></app-cabeza>
<app-alas-aguilas></app-alas-aguilas>
<app-cuerpo-leon></app-cuerpo-leon>
<app-garras-leon></app-garras-leon>
<app-picode-aguila></app-picode-aguila>
<app-plumasen-el-cuello></app-plumasen-el-cuello>
<app-ojos-agudos></app-ojos-agudos>
<app-cola-de-leon></app-cola-de-leon>
<app-espolon-enlacola></app-espolon-enlacola>
<app-patasde-aguilas></app-patasde-aguilas>

